@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.sidebar {
  max-width: 342px;
  height: 100%;
  background: #E5E5E5;
  padding: 0;
  //position: fixed;
  border-right: 1px solid saddlebrown;

  .sidebar-top {
    height: 300px;
    background-color: #4568DC;

    .site-brand {
      padding-top: 30px;
      margin-left: 53px;

      .site-brand-logo {
        //width: 174px;

        img {
          //width: 100%;
        }
      }
    }

    .user-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      margin-bottom: 60px;

      .user-info {
        margin-left: 8px;

        .user-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: $fontfamily;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          text-transform: capitalize;

          color: #FFFFFF;

          border-bottom: 1px solid rgba(55, 160, 234, 0.4);
          padding-bottom: 8px;

          a {
            color: #FFFFFF;
          }

          margin-bottom: 8px;
        }

        .user-position {
          font-family: $fontfamily;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;

          text-transform: capitalize;

          color: #E5E5E5;
        }
      }
    }

  }

  ul {
    margin-top: 28px;

    li {
      padding: 15px;
      color: #878787;

      a {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: capitalize;

        color: #878787;
        display: block;

        .fas {
          width: 25px;
        }
      }

      &.active {
        background: linear-gradient(91.39deg, #4568DC -2.02%, #00B4DB 118.83%);
        box-shadow: 0px 4px 10px rgba(41, 122, 179, 0.3);
        border-radius: 0px;

        a {
          color: #fff;
        }

      }

      &:hover {
        background: #EFF4FF;
        box-shadow: 0px 0px 10px rgba(67, 107, 220, 0.35);
        border-radius: 0px;
      }
    }

    margin-bottom: 140px;
  }

  .sidebar-bottom {
    margin: 30px 42px 30px 24px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background: #37A0EA;
      border-radius: 15px;
      padding: 16px 20px;

      font-family: $fontfamily;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      color: #FFFFFF;

      .fa-sign-out-alt {
        margin-right: 8px;
      }

      span {
        border-left: 1px solid #FFFFFF;
        padding-left: 20px;
      }
    }
  }
}


.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}