@import "mixins";
@import "fonts";

$minwidth: 320px;
$fontfamily: "WorkSans";

@import "nullable";

@import "ui";
@import "nav";
@import "header";
//@import "owlcarousel/owl.carousel";


.header { grid-area: header; }
.nav { grid-area: nav; }
.page-content { grid-area: main; }


.wrapper {
  //display: flex;
  display: grid;

  grid-template-areas:
          'nav header header header header'
          'nav main main main main';

  grid-template-rows: 100px auto;
  grid-template-columns:  20% 80%;


  .flex-2 {
    flex: 2 2 auto;
    align-self: auto;
    order: 0;

    //width: 20%;

  }
  .flex-9 {
    flex: 9 9 auto;
    align-self: auto;
    order: 0;

    //width: 80%;
  }

  //position: relative;
}

@import "content";
@import "footer";
@import "scrollbar";

@import "medias";
